<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/layout.css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        @Html.ActionLink(" Programa de talleres UTP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Bienvenido: @Session["NombreUsuario"] @Session["ApellidoUsuario"] <i class="fas fa-user fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <p>Id: @Session["IdUsuario"]</p>
                    <p>Bienvenido, @Session["NombreUsuario"]</p>
                    <p>Bienvenido, @Session["ApellidoUsuario"]</p>
                    <p>Correo: @Session["CorreoUsuario"]</p>
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="@Url.Action("CerrarSession","Acceso")">Cerrar Sesion</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Herramientas</div>
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Principal de adminin
                        </a>
                        <a class="nav-link" href="@Url.Action("Usuarios","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Usuarios administrados
                        </a>
                        <a class="nav-link" href="@Url.Action("Cursos","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Cursos incorporados
                        </a>
                        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 nav-link" onclick="abrirModalCarreras()">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Mostrar Carreras
                        </button>
                        <div class="sb-sidenav-menu-heading">Secciones</div>
                        <a class="nav-link" href="@Url.Action("Index","Acceso")">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Categorias
                        </a>
                        <a class="nav-link" href="@Url.Action("Adpoint","Acceso")">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Marcas
                        </a>
                        <a class="nav-link" href="">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Productos
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="forModalCarrera" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="exampleModalLabel">Carreras encontradas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-body">
                    <div class="row g-6">
                        <div class="col-sm-12">
                            <table id="tablaCarreras" class="display cell-border" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre de la Carrera</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Aquí se insertarán las filas desde JS -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="guardar()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
<script>
    console.log("Cargando un scrip desde el layout")

    function abrirModalCarreras() {
        //CONSULTA AJAX PARA EL METODO LISTAR DE MI CONTROLADOR HOME
        jQuery.ajax({
            url: '@Url.Action("Listar_Carreras", "Home")',
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (datos) {
                console.log("Datos recibidos:", datos);

                let tbody = $("#tablaCarreras tbody");
                tbody.empty(); // Limpiar la tabla antes de insertar nuevas filas

                datos.jeason_lista.forEach(function (carrera) {
                    let fila = `<tr>
                        <td>${carrera.Id_Carrera}</td>
                        <td>${carrera.Nombre_Carrera}</td>
                    </tr>`;
                    tbody.append(fila);
                });

                $("#forModalCarrera").modal("show");
            }
        });
        $("#forModalCarrera").modal("show");
    }
</script>

